# Virtual Environment
prjvenv/

# Dataset
div2k/

# macOS App Build Files
macOSApp/build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Distribution / Build Outputs
*.exe
*.app
*.dmg
*.pkg
*.zip
*.tar.gz

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

test_image/
